/*homepage*/
body {
	background-color: ghostwhite;
	margin: 0;
}

#page-header {
	background-color: #222;
	padding: 40px 0px 40px 0px;
  color: whitesmoke;
  text-align: center;
  font-size: 40px;
	font-family: Helvetica;
  font-weight: bold;
}

.homepage-buttons {
	text-align: center;
}

#homepage-study, #homepage-fav, #homepage-my-cards, #homepage-dropbtn {
	height: 80px;
	width: 210px;
	background-color: ghostwhite;
	font-size: 24px;
	outline:none;
	/*border: none;*/
	margin: 20px;
	border-radius: 5px;
}

#homepage-study:hover {
    background-color: #4CAF50;
    color: white;
}

#homepage-fav:hover {
    background-color: #4CAF50;
    color: white;
}

#homepage-my-cards:hover {
    background-color: #4CAF50;
    color: white;
}

#homepage-dropbtn:hover {
    background-color: #4CAF50;
    color: white;
}

#option0 #option1 #option2:hover{
  height: 80px;
  width: 200px;
  background-color: #4CAF50;
  font-size: 24px;
  outline:none;
  /*border: none;*/
  margin: 20px;
  border-radius: 5px;
}

.slogan {
	/*background-color: #675682;*/
	/*background-color: #6E3667;*/
	background-color: #222;
	text-align:right;
	font-family: fantasy;
	font-size: 30px;
	font-weight: bolder;
	padding-right: 50px;
}

#slogan-study {
	margin: 0px;
	color: lightskyblue;
}

#slogan-easier {
	color: ghostwhite;
	padding-left: 50px;
}

#slogan-faster {
	color: indianred;
}

#slogan-harder {
	color: cornsilk;
}

/*Favorite page*/
.favorite-page {
	position: relative;
	font-family: Helvetica;
}

#favorite-page-notification {
	text-align: center;
}

.favorite-page-buttons {
	/*position: absolute;*/
	/*bottom: 0px;*/
	/*border: dotted;*/
	/*!*margin-top: 10px;*!*/
	/*text-align: center;*/
	width:100px;
	float:right;
	position:fixed;
	right:0px;
	bottom:30px;
	z-index:20;
	/*border:2px solid #69c;*/
	_position:absolute;
}

#favorite-page-back, #favorite-page-edit, #favorite-page-study {
	text-align: center;
	margin: 5px;
	height: 30px;
	width: 60px;
	font-size: large;
	background-color: ghostwhite;
	border: 1px solid MediumSeaGreen;
	border-radius: 5px;
}

#favorite-page-back:hover {
	background-color: IndianRed;
	color: white;
}

#favorite-page-edit:hover{
	background-color: #4CAF50;
	color: white;
}

#favorite-page-study:hover {
	background-color: #4CAF50;
	color: white;
}

#favorite-list {
	width:100%;
	height:100px;
}

#favorite-list > table {
	margin-left: 400px;
	width:600px;
	border-collapse:collapse;
	text-align:center;
}

th {
	padding: 10px 0px 10px 0px;
	font-weight: bold;
}

td {
	border: 1px solid MediumSeaGreen;
}

/*my cards page*/
.my-cards-page {
	font-family: Helvetica;
}

#my-cards-page-notification {
	text-align: center;
}

.my-cards-page-buttons {
	width:100px;
	float:right;
	position:fixed;
	right:0px;
	bottom:30px;
	z-index:20;
	_position:absolute;
}

#my-cards-page-back, #my-cards-page-add, #my-cards-page-edit, #my-cards-page-study {
	text-align: center;
	margin: 5px;
	height: 30px;
	width: 60px;
	font-size: large;
	background-color: ghostwhite;
	border: 1px solid MediumSeaGreen;
	border-radius: 5px;
}

#my-cards-page-back:hover {
	background-color: IndianRed;
	color: white;
}

#my-cards-page-add:hover {
	background-color: #4CAF50;
	color: white;
}

#my-cards-page-edit:hover {
	background-color: #4CAF50;
	color: white;
}

#my-cards-page-study:hover {
	background-color: #4CAF50;
	color: white;
}

#my-cards-list {
	width:100%;
	height:100px;
}

#my-cards-list > table {
	margin-left: 400px;
	width:600px;
	border-collapse:collapse;
	text-align:center;
}

.my-cards-page-slogan {
	font-family: Helvetica;
	font-size: 18px;
	margin: 5px 0px 5px 20px; /*top-right-down-left*/
	font-weight: bold;
	color: #222;
}

/*study page*/
#wholecard {
	display: block;
	height: 25px;
	margin: auto;
	padding: 20px;
}

#anwser {
	display: block;
	text-align: center;
	height: 25px;
	margin: 0 auto;
	padding: 20px;
}

#cards {
	display: block;
	margin:10px auto 10px auto;
	height: 400px;
	width: 900px;
	background-color: WhiteSmoke;
	border: 1px solid lightgray;
}

#time {
	color:IndianRed;
}

#header, #TimeOut{
	padding: 10px 0px 10px 0px;
	text-align: center;
	font-size: 18px;
	font-family: Helvetica;
	font-weight: bold;
}

#result{
	text-align: center;
	font-size: 18px;
	font-family: Helvetica;
	font-weight: bold;
}


#question {
	display: block;
	margin:10px auto 10px auto;
	padding: 10px 0px 10px 0px;
	color: #4CAF50;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica;
	font-weight: bold;
}

#correctAnwser {
	display: block;
	margin:10px auto 10px auto;
	padding: 40px 0px 10px 0px;
	color: #4CAF50;
	text-align: center;
	font-size: 16px;
	font-family: Helvetica;
	/* font-weight: bold; */
}

#haveNoIdea, #AButton, #BButton, #CButton, #addtoFavorite, #answerPageButton {
	display: block;
	height: 50px;
	width: 60%;
	border: 1px solid MediumSeaGreen;
	background-color: ghostwhite;
	font-size: 14px;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	margin:10px auto 10px auto;
	padding:12px 4px;
}

#exit {
	/* display: block; */
	height: 30px;
	width: 10%;
	margin: 50px 10px 20px 700px;
	border: 1px solid MediumSeaGreen;
	background-color: ghostwhite;
	font-size: 14px;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
}

#addtoFavorite, #answerPageButton {
	display: inline-block;
	height: 40px;
	width: 20%;
	border: 1px solid MediumSeaGreen;
	background-color: ghostwhite;
	font-size: 14px;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	margin:10px auto 10px auto;
	padding:12px 4px;
}

#addtoFavorite:hover {
	border: 1px solid IndianRed;
	color: white;
}

#haveNoIdea:hover {
	border: 1px solid IndianRed;
	background-color: IndianRed;
	color: white;
}

#AButton:hover {
	background-color: #4CAF50;
	color: white;
}

#BButton:hover {
	background-color: #4CAF50;
	color: white;
}

#CButton:hover {
	background-color: #4CAF50;
	color: white;
}

#answerPageButton:hover {
	background-color: #4CAF50;
	color: white;
}

#exit:hover{
	border: 1px solid Brown;
	background-color: Brown;
	color: white;
}

/*edit page*/
.edit-page h1 {
	color: green;
	text-align: center;
}

.edit-page input
{
	font-size: 18px;
	height: 18px;
	padding: 10px;
}

.edit-page {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4);
	font-size: 18px;
	padding: 5px;
}

.edit-page .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	text-align: center;
}

.edit-page button {
	border: 1px;
	padding: 8px;
	margin: 20px;
	width: 80px;
	background-color: rgb(17, 192, 17);
	text-align: center;
	display: inline-block;
	font-size: 15px;
}

.edit-page button:disabled,
.edit-page button[disabled]{
	background-color: #cccccc;
	color: #666666;
	font-size: 10px;
}

.edit-page .error {
	border:1px solid red;
}

.edit-page input:focus {
	outline: none !important;
}

.edit-page .alert {
	padding-top: 10px;
	text-align: center;
	color: #f44336;
}

.edit-page .status {
	text-align: center;
	font-weight: bold;
	color: red;
	margin-bottom: 20px;
	font-size: 20px;
}

/* The alert message box */
.alert {
	font-family: Helvetica;
	height: auto;
	width: 240px;
	text-align: center;
	padding: 20px;
	margin-left: 40px;
	background-color: indianred; /* Red */
	color: white;
	margin-bottom: 15px;
}

/* The close button */
.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	/*transition: 0.3s;*/
}

/* When moving the mouse over the close button */
.closebtn:hover {
	color: black;
}